name: release

on:
  push:
    tags:
      - "*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install tools
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: uv sync

      - name: Build package
        run: uv build

      - name: Release package
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: uv publish
