name: tests

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "master"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install tools
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: uv sync

      - name: Run lint
        run: make lint

  test:
    permissions:
      checks: write
      pull-requests: write
      contents: write
    strategy:
      matrix:
        py_version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest]
    runs-on: "${{ matrix.os }}"
    steps:
      - uses: actions/checkout@v5

      - name: Install tools
        uses: jdx/mise-action@v3
        with:
          install_args: python@${{ matrix.py_version }} uv

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: make test

      - name: Generate report
        run: uv run coverage xml && uv run coverage json

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        if: matrix.os == 'ubuntu-latest' && matrix.py_version == '3.10'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          verbose: true
